.canvas {
  flex: 2;
  position: relative;
  text-transform: uppercase;
}

.canvas > .shades {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 0.85rem;
}
.canvas > .shades > div {
  display: flex;
  padding: 10px;
  flex-basis: calc(50% - 20px);
  align-items: flex-start;
}
.canvas > .shades > div:nth-of-type(2n) {
  justify-content: flex-end;
}
.canvas > .shades > div:nth-last-of-type(2) {
  align-items: flex-end;
}
.canvas > .shades > div:last-of-type {
  align-items: flex-end;
  justify-content: flex-end;
}
.canvas > .current {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas .color-value {
  cursor: pointer;
  border: solid 1px;
  border-radius: 10px;
  padding: 2px 5px;
  opacity: 0.5;
}
.canvas .color-value:hover {
  opacity: 1;
}
