body {
  background: #e0eef5;
  color: #111111;
}
.App {
  font-family: "B612 Mono", monospace;
  text-align: center;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding: 10px;
}

a.no-underline {
  text-decoration: none !important;
}
.heart {
  color: #c92828;
}
